body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #343434;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
}

.sign-up-container {
  flex: 1;
  background-color: #fcfcfc;
}

header {
  padding: 48px;
}

.form-info-container {
  background-color: white;
  padding: 8px 48px;
  filter: drop-shadow(0 5px 2px #00000015);
  margin-bottom: 50px;
}

.form-row {
  display: flex;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin: 8px 48px 16px 0;
}

label {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #5e5e5e;
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  background-color: #fcfcfc;
  outline-style: none;
  height: 24px;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  padding: 4px;
}

input:focus {
  filter: drop-shadow(5px 5px 2px #00000015);
  border-color: blue;
}

input:invalid {
  border-color: red;
}

.sidebar {
  position: relative;
  width: 500px;
  height: 100vh;
  flex-shrink: 0;
}

.background-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.logo-background {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 250px;
  background: rgb(0,0,0,0.3);
  color: white;
  font-size: 5rem;
  padding: 8px 0;
  display: flex;
  justify-content: center;
}

.logo-container {
  display: flex;
  width: auto;
  height: 100%;
}

.logo {
  width: auto;
  height: 100%;
}

.logo-type {
  margin: 0;
  flex: 1;
}

.background-caption {
  position: absolute;
  bottom: 5px;
  left: 150px;
  color: white;
}

a {
  color: white;
}

.form-type {
  padding: 0 48px;
}

button {
  background-color: #596D48;
  border-radius: 8px;
  border: 0;
  padding: 16px 48px;
  filter: drop-shadow(5px 5px 2px #00000015);
  color: white;
  font-size: 18px;
  font-weight: 900;
}

span {
  color: #596D48;
  font-weight: 900;
}